<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fa fa-align-left"></i>
            
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-md-auto d-md-flex">
                                  <li class="nav-item">
                                    <a class="nav-link" href="#" id="profils"><i class="fa fa-users"></i> Issam Filali</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="#"><i class="fa fa-sign-out"></i> Logout</a>
                                  </li>
                            </ul>
        </div>
    </div>
</nav>
