<div class="table-responsive text-nowrap">
  <a class="btn btn-success" routerLink="/administration/adduser"  style="float:right !important; "><i class="fa fa-plus"></i></a> 
  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">nom</th>
     <th scope="col">prenom</th>
      <th scope="col">email </th>
      <th scope="col">Profil</th>
      <th scope="col">login</th>
      <th scope="col">office</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td>{{user.email}}</td>
                <td>{{user.profilRole}}</td>
                <td>{{user.login}}</td>
                <td>{{user.office}}</td>
                <td class="text-center"><a class='btn btn-info btn-xs' (click)="setUserId(user.id)" ><i class="fa fa-pencil"></i></a> 
                  <a href="#" class="btn btn-danger btn-xs" [routerLink]="['/administration/user/',user.id]">
                    <span class="fa fa-eye"></span></a></td>
    </tr> 
  </tbody>
</table>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mise à jour de profil</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
            <div class="form-group row">
              
                    <label for="nom" class="col-form-label col-2">Profil</label>
                    <select type="text" class="form-control col-9" name="profil" id="nom" (change)="updateSelectedProfilId($event.target.value)">
                      <option *ngFor="let profil of profils" [value]="profil.id">{{profil.role}}</option>
                      <option  value="2">em</option>
                    </select>   
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateProfil()">Save changes</button>
        </div>
      </div>
    </div>
  </div>