<form>
    <fieldset>
      <legend>Information Utilisateur</legend>
      <div class="form-group row">
        <label class="col-md-5 control-label" for="name">Nom</label>
              <div class="col-md-7">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control" value="{{user.nom}}">
              </div>
      </div>
      <div class="form-group row">
           <label class="col-md-5 control-label" for="name">Prenom</label>
              <div class="col-md-7">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control" value="{{user.prenom}}">
              </div>
        </div>
        <div class="form-group row">
            <label class="col-md-5 control-label" for="name">Email</label>
              <div class="col-md-7">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control" value="{{user.email}}">
              </div>
          </div>
          <div class="form-group row">
              <label class="col-md-5 control-label" for="name">Login</label>
              <div class="col-md-7">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control" value="{{user.login}}">
              </div>
            </div>
            <div class="form-group row">
                <label class="col-md-5 control-label" for="name">Profil</label>
              <div class="col-md-7">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control" value="{{user.profilRole}}">
              </div>
              </div>

              <div class="form-group row">
                <label class="col-md-5 control-label" for="name">Office</label>
              <div class="col-md-7">
                <input id="name" name="name" type="text" placeholder="Your name" class="form-control" value="{{user.office}}">
              </div>
              </div>

      </fieldset>
</form>


	