/* Sidebar */
.sidebar {
  min-height: calc(100vh - 63px);
  background: #ffffff;
  font-family: "Poppins", sans-serif;
  padding: 0;
  width: 255px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease; }

img {
    vertical-align: middle;
    border-style: none;
    margin-right: 12px;
}

  .sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column; }
    .sidebar .nav .nav-item .collapse {
      z-index: 999; }
    .sidebar .nav .nav-item .collapse.show,
    .sidebar .nav .nav-item .collapsing {
      background: #fafbfc; }
    .sidebar .nav .nav-item .nav-link {
      align-items: center;
      display: flex;
      padding: 16px 35px;
      white-space: nowrap;
      height: 52px;
      color: #4a4a4a; }
      .sidebar .nav .nav-item .nav-link i.menu-arrow {
        margin-left: auto;
        margin-right: 0;
        -webkit-transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        -o-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-property: -webkit-transform;
        -moz-transition-property: -moz-transform;
        -o-transition-property: -o-transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-in;
        -moz-transition-timing-function: ease-in;
        -o-transition-timing-function: ease-in;
        transition-timing-function: ease-in; }
        .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
          content: "\F142";
          font-family: "Material Design Icons";
          font-size: 18px;
          line-height: 1;
          font-style: normal;
          vertical-align: middle;
          color: rgba(74, 74, 74, 0.5); }
      .sidebar .nav .nav-item .nav-link[aria-expanded="true"] {
        background: #fafbfc; }
        .sidebar .nav .nav-item .nav-link[aria-expanded="true"] i.menu-arrow {
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
      .sidebar .nav .nav-item .nav-link .menu-icon {
        margin-right: 1.25rem;
        width: 16px;
        line-height: 1;
        font-size: 18px;
        color: #979797; }
        .rtl .sidebar .nav .nav-item .nav-link .menu-icon {
          margin-right: 0;
          margin-left: 1.25rem; }
      .sidebar .nav .nav-item .nav-link .menu-title {
        color: inherit;
        display: inline-block;
        font-size: 12px;
        line-height: 1;
        vertical-align: middle; }
      .sidebar .nav .nav-item .nav-link .badge {
        margin-left: auto; }
      .sidebar .nav .nav-item .nav-link:hover {
        color: #3d3d3d; }
    .sidebar .nav .nav-item.active > .nav-link {
      color: #308ee0; }
      .sidebar .nav .nav-item.active > .nav-link .menu-title,
      .sidebar .nav .nav-item.active > .nav-link i {
        color: inherit; }
    .sidebar .nav .nav-item.nav-profile .nav-link {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column;
      height: auto; }
      .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper {
        display: -webkit-flex;
        display: flex;
         }
        .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image {
          width: 40px;
          height: 40px; }
          .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image img {
            border-radius: 100%;
            max-width: 100%; }
        .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
          margin-left: 15px; }
          .rtl .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper {
            margin-left: 0;
            margin-right: 15px; }
          .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name {
            font-weight: 500;
            margin-bottom: 8px; }
          .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .designation {
            margin-right: 3px; }
    .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
      background: #007bff03;
      color: #4a4a4a; }
    .sidebar .nav.sub-menu {
      margin-bottom: 0;
      padding: 0 0 0 4rem; }
      .sidebar .nav.sub-menu .nav-item .nav-link {
        color: #4a4a4a;
        padding: 0.75rem 1rem;
        font-size: 12px;
        line-height: 1;
        height: auto; }
        .sidebar .nav.sub-menu .nav-item .nav-link.active {
          color: #308ee0;
          background: transparent; }
          .sidebar .nav.sub-menu .nav-item .nav-link.active:before {
            background: #308ee0; }
      .sidebar .nav.sub-menu .nav-item:hover > .nav-link {
        background: initial;
        color: #000; }
        .sidebar .nav.sub-menu .nav-item:hover > .nav-link:before {
          background: #000; }

.sidebar-dark .sidebar {
  background: #161a27; }
  .sidebar-dark .sidebar .nav .nav-item .collapse.show,
  .sidebar-dark .sidebar .nav .nav-item .collapsing {
    background: #1f2537; }
  .sidebar-dark .sidebar .nav .nav-item .nav-link {
    color: #a0a0a0; }
    .sidebar-dark .sidebar .nav .nav-item .nav-link[aria-expanded="true"] {
      background: #1f2537; }
    .sidebar-dark .sidebar .nav .nav-item .nav-link i {
      color: #404852; }
      .sidebar-dark .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
        color: rgba(160, 160, 160, 0.5); }
    .sidebar-dark .sidebar .nav .nav-item .nav-link:hover {
      color: #939393; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .profile-name .name {
    color: #404852; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .profile-name .designation {
    color: #8d9498; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .notification-panel:before {
    background: #404852; }
  .sidebar-dark .sidebar .nav .nav-item.nav-profile .notification-panel > span {
    background: #1f2537; }
    .sidebar-dark .sidebar .nav .nav-item.nav-profile .notification-panel > span i {
      color: #8ba2b5; }
  .sidebar-dark .sidebar .nav .nav-item.active > .nav-link {
    color: #ffffff; }
  .sidebar-dark .sidebar .nav .nav-item .sidebar-sticker {
    background: #1f2537; }
  .sidebar-dark .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
    background: #1f2537;
    color: #a0a0a0; }
  .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link {
    color: #a0a0a0; }
    .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active {
      color: #ffffff; }
      .sidebar-dark .sidebar .nav.sub-menu .nav-item .nav-link.active:before {
        background: #ffffff; }
  .sidebar-dark .sidebar .nav.sub-menu .nav-item:hover > .nav-link {
    background: initial;
    color: #000; }
    .sidebar-dark .sidebar .nav.sub-menu .nav-item:hover > .nav-link:before {
      background: #000; }

      /*coco*/
      

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
  .sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 63px);
    top: 63px;
    bottom: 0;
    overflow: auto;
    right: -255px;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out; }
    .sidebar-offcanvas.active {
      right: 0; } }

/* Navbar */
.navbar.default-layout {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #00e4d0, #5983e8);
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease; }
  .navbar.default-layout .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #ffffff;
    width: 255px;
    height: 63px; }
    .sidebar-dark .navbar.default-layout .navbar-brand-wrapper {
      background: #161a27; }
    .navbar.default-layout .navbar-brand-wrapper .navbar-brand {
      color: #ffffff;
      font-size: 1.5rem;
      line-height: 48px;
      margin-right: 11PX;
      padding: 0.25rem 0;
      display: -webkit-flex;
      display: flex; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand:active, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:focus, .navbar.default-layout .navbar-brand-wrapper .navbar-brand:hover {
        color: #424546; }
      .navbar.default-layout .navbar-brand-wrapper .navbar-brand img {
        w width: calc(290px - 141px);
    max-width: 100%;
    height: 39px;
    margin: auto;
    vertical-align: middle;}
    .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
      display: none; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini img {
        width: calc(70px - 50px);
        max-width: 100%;
        height: 28px;
        margin: auto; }
  .navbar.default-layout .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% - 255px);
    height: 63px; }
    @media (max-width: 991px) {
      .navbar.default-layout .navbar-menu-wrapper {
        width: auto; } }
    .navbar.default-layout .navbar-menu-wrapper .navbar-toggler {
      border: 0;
      color: inherit; }
      @media (max-width: 991px) {
        .navbar.default-layout .navbar-menu-wrapper .navbar-toggler:not(.navbar-toggler-right) {
          display: none; } }
    .navbar.default-layout .navbar-menu-wrapper .navbar-text {
      font-size: 13px; }
    .navbar.default-layout .navbar-menu-wrapper .navbar-nav {
      flex-direction: row;
      align-items: center; }
      .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item {
        margin-left: 1rem;
        margin-right: 1rem; }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
          color: inherit;
          font-size: 12px;
          vertical-align: middle; }
          @media (max-width: 767px) {
            .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
              margin-left: 0.5rem;
              margin-right: 0.5rem; } }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {
            font-size: 1.25rem;
            vertical-align: middle; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .profile-text {
            margin-right: 15px; }
            .rtl .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link .profile-text {
              margin-right: 0;
              margin-left: 15px; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.nav-btn .btn {
            background: rgba(255, 255, 255, 0.1);
            padding: 0.75rem 1rem;
            color: #ffffff; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.nav-btn:after {
            display: none; }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav .nav-item.color-setting i {
          font-size: 25px;
          vertical-align: text-top; }
      @media (min-width: 992px) {
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
          margin-left: auto; }
          .rtl .navbar.default-layout .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
            margin-left: 0;
            margin-right: auto; } }
      .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links {
        height: 63px;
        padding-left: 2%; }
        .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item {
          margin: 0; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item .nav-link {
            height: 63px;
            font-size: 12px;
            padding: 16px 25px;
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: center;
            align-items: center; }
            .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item .nav-link i {
              margin-right: 10px;
              font-size: 21px; }
              .rtl .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item .nav-link i {
                margin-right: 0;
                margin-left: 10px; }
          .navbar.default-layout .navbar-menu-wrapper .navbar-nav.header-links .nav-item.active {
            background: rgba(255, 255, 255, 0.13); }

@media (max-width: 991px) {
  .navbar.default-layout {
    flex-direction: row; }
    .navbar.default-layout .navbar-brand-wrapper {
      width: 75px; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo {
        display: none; }
      .navbar.default-layout .navbar-brand-wrapper .brand-logo-mini {
        display: inline-block; }
  .navbar-collapse {
    display: flex;
    margin-top: 0.5rem; } }